<section class="stats">
    <!-- <span class="closed">{{getClosedCount()}}</span> -->
    <span class="closed">{{bugs | closedCount}}</span>
    <span> / </span>
    <span>{{bugs.length}}</span>
</section>
<section class="sort">
    <label for="">Order By:</label>
    <select #selectSortBy (change)="sortAttrName = selectSortBy.value">
        <option value="">---Select---</option>
        <option value="name">Name</option>
        <option value="isClosed">Status</option>
        <option value="createdAt">Created</option>
    </select>
    <label for="">Descending? :</label>
    <input type="checkbox" #chkSortDesc (change)="sortByDesc = chkSortDesc.checked">
</section>
<section class="edit">
    <label for="">Bug Name :</label>
    <input type="text" #txtNewBugName (input)="newBugName = txtNewBugName.value">
    <span> [ {{newBugName.length}} ] </span>
    <button (click)="onBtnAddNewClick(newBugName)">Add New</button>
</section>
<section class="list">
    <ol>
        <li *ngFor="let bug of (bugs | sort:sortAttrName:sortByDesc)">
            <span 
                class="bugname" 
                (click)="onBugNameClick(bug)"
                [ngClass]="{ closed : bug.isClosed}"
                [title]="bug.name"
            >{{bug.name | trimText:40}}</span>
            <div class="datetime">{{bug.createdAt}}</div>
            <button (click)="onBtnRemoveClick(bug)">[Remove]</button>
        </li>
        <!-- <li>
            <span class="bugname closed">[bug - 2]</span>
            <div class="datetime">[created At]</div>
            <button>[Remove]</button>
        </li> -->
    </ol>
    <button (click)="onBtnRemoveClosedClick()">Remove Closed</button>
</section>
