<h3>Salary Calculator</h3>
<hr>
<section>
    <div class="field">
        <label for="">Basic :</label>
        <input type="number" #txtBasic (input)="model.basic = txtBasic.valueAsNumber" >
    </div>
    <div class="field">
        <label for="">HRA :</label>
        <input type="number" #txtHra (input)="model.hra = txtHra.valueAsNumber">
    </div>
    <div class="field">
        <label for="">DA :</label>
        <input type="number" #txtDa (input)="model.da = txtDa.valueAsNumber">
    </div>
    <div class="field">
        <label for="">Tax :</label>
        <input type="range"  min="0" max="30" value="0" #txtTax (input)="model.tax = txtTax.valueAsNumber">
    </div>
    <div class="field">
        <button (click)="model.calculate()">Calculate</button>
    </div>
    <div class="field">
        <table>
            <tr>
                <td>{{model.basic}}</td>
                <td>{{model.hra}}</td>
                <td>{{model.da}}</td>
                <td>{{model.tax}}</td>
                <td>{{model.salary}}</td>
            </tr>
        </table>
    </div>
</section>